# Pre-setting

In [ ]:
import os, sys
from google.colab import drive

#preset -  Colab Notebooks 안에 .env 폴더에 패키지 저장 ( 심볼링 링크가 작동 안된다. )
"""
drive.mount('/content/drive')
my_path = '/content/notebooks'
os.symlink('/content/drive/My Drive/_ColabNotebooks/.env', my_path) # 기존 path를 바꿔치기
sys.path.insert(0, my_path)
"""

#preset -  Dependency - 위 preinstall 작업을 안하면, 세션 할당시 매번 install

# !pip install --target=$my_path finance_datareader
!pip install finance_datareader 

import pandas as pd
import numpy as np

#preset - 주피터 노트북 여러줄 출력
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#preset - pandas
pd.set_option("display.float_format",lambda x: '%.3f'%x) # 소수점 6자리 > 3자리만 보여달라
pd.set_option("max_columns",None) # 컬럼을 ... 으로 요약하지 마라 ( row는 요약되어있다.)
# pd.DataFrame(np.random.randn(1000,300))

"\ndrive.mount('/content/drive')\nmy_path = '/content/notebooks'\nos.symlink('/content/drive/My Drive/_ColabNotebooks/.env', my_path) # 기존 path를 바꿔치기\nsys.path.insert(0, my_path)\n"

Requirement already satisfied: finance_datareader in /usr/local/lib/python3.7/dist-packages (0.9.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from finance_datareader) (4.41.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.7/dist-packages (from finance_datareader) (1.1.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from finance_datareader) (4.2.6)
Requirement already satisfied: requests-file in /usr/local/lib/python3.7/dist-packages (from finance_datareader) (1.5.1)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from finance_datareader) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance_datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance_datareader) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.2->finance_datareader) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from requests-file->finance_datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance_datareader) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance_datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance_datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->finance_datareader) (2.10)

**Pandas version 0.25.1 (`pip install pandas==0.25.1`)**  

현재 판다스는  pandas 1.2.2 documentation 까지 볼 수 있다.  
큰 문제는 없을듯한데 0.25로 작성되어있다.

# `Series` Data type

- Series는 1차원 Array이다. 
- Series는 Numpy의 Wrapper 이다.
- 문자열 인덱싱기능 등 추가 기능이 있다.
- eg) Numpy's ndarray + 숫자가 아닌 다른 type의 index (E.g. 문자열) 사용가능

In [ ]:
import pandas as pd

In [ ]:
a = pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [ ]:
# 첫번째 방법
s2 = pd.Series(
    [1, 2, 3, 4],
    index=['a', 'b', 'c', 'd']
)
s2

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
s2.head(2)

a    1
b    2
dtype: int64

In [ ]:
# 두번째방법
s2 = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5})
s2.head()

a    1
b    2
c    3
d    4
e    5
dtype: int64


- 한가지 data type만 가지고 있을 수 있음

## `nan`과 관련된 함수

In [ ]:
import numpy as np

In [ ]:
np.nan

nan

In [ ]:
s = pd.Series([10, 0, 1, 1, 2, 3, 4, 5, 6, np.nan])
s

0   10.000
1    0.000
2    1.000
3    1.000
4    2.000
5    3.000
6    4.000
7    5.000
8    6.000
9      nan
dtype: float64

In [ ]:
len(s)
s.shape
s.count()    # not count `nan`

10

(10,)

9

In [ ]:
s.unique() # array([10.,  0.,  1.,  2.,  3.,  4.,  5.,  6., nan])

# 수업에서는 다루지 않았지만, nunique()는 unique한 값들의 총 갯수를 알려주는 함수입니다.
s.nunique() # 8

array([10.,  0.,  1.,  2.,  3.,  4.,  5.,  6., nan])

8

In [ ]:
s.value_counts() # 유니크 후, 각각의 갯수

1.000     2
6.000     1
5.000     1
4.000     1
3.000     1
2.000     1
0.000     1
10.000    1
dtype: int64

- 이 외의 함수들에 대해서는 이후 수업에서 하나씩 다룰 예정!

## index label을 기준으로 Series간에 operation이 일어남

- Data의 '순서'가 아니라 index label이 자동으로 정렬되어 연산이 진행됨!

In [ ]:
s3 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s4 = pd.Series([4, 3, 2, 1], index=['d', 'c', 'b', 'a'])

In [ ]:
s3
s4

a    1
b    2
c    3
d    4
dtype: int64

d    4
c    3
b    2
a    1
dtype: int64

In [ ]:
s3 + s4 # index와 index label 로 연산되는것의 차이 인지

a    2
b    4
c    6
d    8
dtype: int64

# `DataFrame` Data type

- 다수의 Series를 하나의 변수로 관리할 수 있도록 만든 자료형
    - Series의 dict 형태라고 보면됨
        - `{'컬럼명1': Series1, '컬럼명2': Series2}`
        - 각 Series는 DataFrame의 column을 이룸
        - 당연히 DataFrame을 이루는 Series간의 index는 서로 다 같음! => 동일 index 사용

## DataFrame을 만드는 다양한 방법들

In [ ]:
s1 = np.arange(1, 6, 1)
s2 = np.arange(6, 11, 1)
s1
s2

array([1, 2, 3, 4, 5])

array([ 6,  7,  8,  9, 10])

In [ ]:
df = pd.DataFrame(
    {
        'c1': s1,
        'c2': s2
    }
)
df

   c1  c2
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10

In [ ]:
# 1번째 방법  (Default index and columns would be set)
pd.DataFrame(
    [
        [10,11],
        [10,12]
    ]
)
pd.DataFrame(
    np.array(
        [
            [10, 11],
            [20, 21]
        ]
    )
)

    0   1
0  10  11
1  10  12

    0   1
0  10  11
1  20  21

In [ ]:
# 2번째 방법 (많이 안쓰임)
pd.DataFrame(
    [
        pd.Series(np.arange(10, 15)),   # 굳이 Series가 아니고 list형태이기만 하면 됨(=iterable한 object면 다 가능)
        pd.Series(np.arange(15, 20)),   # 굳이 Series가 아니고 list형태이기만 하면 됨(=iterable한 object면 다 가능)
    ]
)

pd.DataFrame(
    [
        np.arange(10, 15),
        np.arange(15, 20),
    ]
)

    0   1   2   3   4
0  10  11  12  13  14
1  15  16  17  18  19

    0   1   2   3   4
0  10  11  12  13  14
1  15  16  17  18  19

In [ ]:
# 3번째 방법 (with column & index names)
pd.DataFrame(
    np.array(
        [
            [10, 11],
            [20, 21]
        ]
    ), 
    columns=['a', 'b'],
    index=['r1', 'r2']
)

     a   b
r1  10  11
r2  20  21

In [ ]:
# 4번째 방법
s1 = pd.Series(np.arange(1, 6, 1))    # 굳이 Series가 아니고 list형태이기만 하면 됨(=iterable한 object면 다 가능)
s2 = pd.Series(np.arange(6, 11, 1))   # 굳이 Series가 아니고 list형태이기만 하면 됨(=iterable한 object면 다 가능)
pd.DataFrame(
    {
        'c1': [1,2,3],    # list, np.array, Series 전부 다 올 수 있음!
        'c2': [4,5,6]
    }
)

   c1  c2
0   1   4
1   2   5
2   3   6

In [ ]:
# 참고: 1줄짜리 만들 때도 dictionary의 value에 해당하는 값들은 iterable한 data type(e.g. list, np.array, Series 등)으로 설정해줘야함
pd.DataFrame({'c1': [0], 'c2': [1]})

   c1  c2
0   0   1

In [ ]:
s1 = pd.Series(np.arange(1, 6, 1), index=['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series(np.arange(6, 11, 1), index=['b', 'c', 'd', 'f', 'g'])
df = pd.DataFrame(
    {
        'c1': s1,
        'c2': s2
    }
)
df

     c1     c2
a 1.000    nan
b 2.000  6.000
c 3.000  7.000
d 4.000  8.000
e 5.000    nan
f   nan  9.000
g   nan 10.000

## DataFrame 생성시, Series간에 Index 기준으로 자동정렬!

In [ ]:
s1 = pd.Series(np.arange(1, 6, 1))
s2 = pd.Series(np.arange(6, 11, 1))
s3 = pd.Series(np.arange(12, 15), index=[1, 2, 10])  # this one has index values unlike s1, s2
s1
s2
s3

0    1
1    2
2    3
3    4
4    5
dtype: int64

0     6
1     7
2     8
3     9
4    10
dtype: int64

1     12
2     13
10    14
dtype: int64

In [ ]:
df = pd.DataFrame({'c1': s1, 'c2': s2, 'c3': s3}) 
df

      c1     c2     c3
0  1.000  6.000    nan
1  2.000  7.000 12.000
2  3.000  8.000 13.000
3  4.000  9.000    nan
4  5.000 10.000    nan
10   nan    nan 14.000

## DataFrame에 새로운 column 추가하기

In [ ]:
df['c4'] = pd.Series([1,2,3,4], index=[0, 1, 2, 10])

In [ ]:
df

      c1     c2     c3    c4
0  1.000  6.000    nan 1.000
1  2.000  7.000 12.000 2.000
2  3.000  8.000 13.000 3.000
3  4.000  9.000    nan   nan
4  5.000 10.000    nan   nan
10   nan    nan 14.000 4.000

## 2.4 Reindexing

- 새로운 index label을 기반으로 기존의 "index-value" mapping은 유지한채 재배열하는 것
- 참고 사항과 헷갈리지 말자.

### 참고: index 자체를 바꾸는 것("index-value" mapping이 깨짐)

In [ ]:
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s.index = ['a', 'b', 'c', 'd', 'e']
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

### 참고 :  `set_index()` : 특정 column을 index로 만듦

In [ ]:
# 위의 'DataFrame 생성시, Series간에 Index 기준으로 자동정렬!' 챕터에서 정의한 dataframe입니다
df

      c1     c2     c3    c4
0  1.000  6.000    nan 1.000
1  2.000  7.000 12.000 2.000
2  3.000  8.000 13.000 3.000
3  4.000  9.000    nan   nan
4  5.000 10.000    nan   nan
10   nan    nan 14.000 4.000

In [ ]:
# 새로운 시리즈를 넣을때 index를 일치시켜줘야함
# c1~c4는 float, c5는 int 타입 등으로 구성 가능
# nan이 출력이 되면 int 도 float 처럼 출력이 된다. ( 해당 DataFrame만)
df['c5'] = pd.Series([1,2,3,4,5,6], index=[0,1,2,3,4,10])
df

      c1     c2     c3    c4  c5
0  1.000  6.000    nan 1.000   1
1  2.000  7.000 12.000 2.000   2
2  3.000  8.000 13.000 3.000   3
3  4.000  9.000    nan   nan   4
4  5.000 10.000    nan   nan   5
10   nan    nan 14.000 4.000   6

In [ ]:
# c5 시리즈를 인덱스로 사용할래
# c5는 인덱스의 이름이다. *디폴트값 None (표시안함)
df.set_index("c5")

      c1     c2     c3    c4
c5
1  1.000  6.000    nan 1.000
2  2.000  7.000 12.000 2.000
3  3.000  8.000 13.000 3.000
4  4.000  9.000    nan   nan
5  5.000 10.000    nan   nan
6    nan    nan 14.000 4.000

### Reindex

In [ ]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
# 원래 s는 a,b,c,d,e 순으로 1,2,3,4,5 였는데
# 이를 a,c,e,g 순서로 바꾸고 싶다.
s2 = s.reindex(
    ['a', 'c', 'e', 'g']
)
s2

a   1.000
c   3.000
e   5.000
g     nan
dtype: float64

In [ ]:
# Copied
s2['a'] = 0
s2

a   0.000
c   3.000
e   5.000
g     nan
dtype: float64

In [ ]:
# s는 s2의 값을 바꿔도 안 건드려짐
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
# [X] 이렇게 하면 안됨
# 겉보기에는 같은 시리즈, 데이터 타입도 동일하다. 하지만 덧셈 불가.
s1 = pd.Series([0, 1, 2], index=[0, 1, 2])
s2 = pd.Series([3, 4, 5], index=['0', '1', '2'])
s1
s2

0    0
1    1
2    2
dtype: int64

0    3
1    4
2    5
dtype: int64

In [ ]:
# index 타입이 달라서 1+nan = nan 인 결과가 초래
s1 + s2

0   nan
1   nan
2   nan
0   nan
1   nan
2   nan
dtype: float64

In [ ]:
s1.index # Int64Index([0, 1, 2], dtype='int64')
s2.index # Index(['0', '1', '2'], dtype='object')

Int64Index([0, 1, 2], dtype='int64')

Index(['0', '1', '2'], dtype='object')

In [ ]:
# 문자열 타입 인덱스를 숫자로 리인덱싱해도 nan 결과가 초래 
s2 = s2.reindex(s1.index)
s2

0   nan
1   nan
2   nan
dtype: float64

In [ ]:
# 해결 -  첫번째 방법
s1 = pd.Series([0, 1, 2], index=[0, 1, 2])
s2 = pd.Series([3, 4, 5], index=['0', '1', '2'])

In [ ]:
s2.index = s2.index.astype(int) #index의 형변환 하자. str > int

In [ ]:
s2

0    3
1    4
2    5
dtype: int64

In [ ]:
s2.index

Int64Index([0, 1, 2], dtype='int64')

In [ ]:
s1 + s2

0    3
1    5
2    7
dtype: int64

In [ ]:
# 해결 - 두번째 방법, 공통의 인덱스를 할당 해결 - 두번째 방법, 공통의 인덱스를 할당
s1 = pd.Series([0, 1, 2], index=[0, 1, 2])
s2 = pd.Series([3, 4, 5], index=['0', '1', '2'])
s1 = pd.Series([0, 1, 2], index=[0, 1, 2])
s2 = pd.Series([3, 4, 5], index=['0', '1', '2'])

In [ ]:
s1.index = ['a', 'b', 'c']
s2.index = ['a', 'b', 'c']

In [ ]:
s1 + s2

a    3
b    5
c    7
dtype: int64

#### `reindex()`의 유용한 Arguments

- `fill_value`

In [ ]:
s2 = s.copy() # 깊은 복사
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [ ]:
s2.reindex(['a', 'f']) # a,f 만 가져온다.

a   1.000
f     nan
dtype: float64

In [ ]:
s2.reindex(['a', 'f'], fill_value=0)  # fill 0 insteand of Nan

a    1
f    0
dtype: int64

- `method`

In [ ]:
s3 = pd.Series(['red', 'green', 'blue'], index=[0, 3, 5])
s3

0      red
3    green
5     blue
dtype: object

In [ ]:
s3.reindex(np.arange(0,7)) # 0~7의 인덱스로 확장
# 참고로 nan은 숫자 연산도중 발생한 상황
# NaN은 dtype이 object에서 발생한 상황황

0      red
1      NaN
2      NaN
3    green
4      NaN
5     blue
6      NaN
dtype: object

In [ ]:
# NaN을 발생시키지 말고 이전 값으로 채워라# NaN을 발생시키지 말고 이전 값으로 채워라
s3.reindex(np.arange(0,7), method='ffill') # forward fill - nan을 이전값으로 매꿔라.
s3.reindex(np.arange(0,7), method='ffill') # forward fill - nan을 이전값으로 매꿔라.

0      red
1      red
2      red
3    green
4    green
5     blue
6     blue
dtype: object

#### 예제

In [ ]:
# 맨 첫 강의에서 라이브러리를 설치할 때 requirements.txt를 이용해서 설치를 했으면, 건너뛰셔도 됩니다. 
# https://github.com/FinanceData/FinanceDataReader
# !pip install finance_datareader == 0.9.1

In [2]:
import FinanceDataReader as fdr

ModuleNotFoundError: ignored

In [1]:
# 삼성전자
df1 = fdr.DataReader("005930", '2018-01-02', '2028-10-30') # 코드명,조회시작,조회끝 날짜

# KODEX 200 (ETF)
df2 = fdr.DataReader("069500", '2018-01-03', '2018-10-30')

NameError: ignored

In [ ]:
df1.head(2)
df1.tail(2)

             Open   High    Low  Close  Volume  Change
Date
2018-01-02  51380  51400  50780  51020  169485   0.001
2018-01-03  52540  52560  51420  51620  200270   0.012

             Open   High    Low  Close    Volume  Change
Date
2021-03-16  82200  83000  82100  82800  12293537   0.012
2021-03-17  82800  82900  82000  82300  11468812  -0.006

In [ ]:
df2.head(2)
df2.tail(2)

             Open   High    Low  Close   Volume  Change
Date
2018-01-03  31028  31122  30953  31029  6665204   0.004
2018-01-04  31206  31221  30775  30785  8194471  -0.008

             Open   High    Low  Close   Volume  Change
Date
2018-10-29  25259  25427  24921  24968  4954632  -0.008
2018-10-30  24935  25366  24845  25141  7509784   0.007

In [ ]:
# 삼성전자
df1 = fdr.DataReader("005930", '2018-01-02', '2018-10-30')

# KODEX 200 (ETF)
df2 = fdr.DataReader("069500", '2018-01-02', '2018-10-30')

In [ ]:
df1.shape
df2.shape
df1.index #  dtype='datetime64[ns]'

(202, 6)

(201, 6)

DatetimeIndex(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-15',
               ...
               '2018-10-17', '2018-10-18', '2018-10-19', '2018-10-22',
               '2018-10-23', '2018-10-24', '2018-10-25', '2018-10-26',
               '2018-10-29', '2018-10-30'],
              dtype='datetime64[ns]', name='Date', length=202, freq=None)

In [ ]:
# drop 함수 - Series,Df 에서 row,col 을 제거
df2 = df2.drop(pd.to_datetime("2018-01-03")) # str >  dtype='datetime64[ns]'
# 위에서 01-03을 제거해서, index의 불일치가 나온다.
# 크롤링시 누락  혹은  특정날에 거래정지 등의 이유로 
# 해결 : reindex, | 한번에 해결 : concat, join 
# - 날짜가 잘 align 되어야 한다. 하루씩 날짜가 밀리거나, 상폐, 혹은 늦게 상장 될때 
df2.head()

             Open   High    Low  Close   Volume  Change
Date
2018-01-02  30877  30968  30780  30898  4611286   0.004
2018-01-04  31206  31221  30775  30785  8194471  -0.008
2018-01-05  30864  31197  30864  31203  7465878   0.014
2018-01-08  31329  31459  31155  31413  7375511   0.007
2018-01-09  31320  31543  31150  31288  7326903  -0.004

In [ ]:
df1.head()

             Open   High    Low  Close  Volume  Change
Date
2018-01-02  51380  51400  50780  51020  169485   0.001
2018-01-03  52540  52560  51420  51620  200270   0.012
2018-01-04  52120  52180  50640  51080  233909  -0.010
2018-01-05  51300  52120  51200  52120  189623   0.020
2018-01-08  52400  52520  51500  52020  167673  -0.002

In [ ]:
new_df2 = df2.reindex(df1.index) # 온전한 index를 갖는 종목은 코덱스,ETF 등 기준을 삼으면 된다.  
new_df2.head() # 우선 index를 매꾼것을 봐라

                Open      High       Low     Close      Volume  Change
Date
2018-01-02 30877.000 30968.000 30780.000 30898.000 4611286.000   0.004
2018-01-03       nan       nan       nan       nan         nan     nan
2018-01-04 31206.000 31221.000 30775.000 30785.000 8194471.000  -0.008
2018-01-05 30864.000 31197.000 30864.000 31203.000 7465878.000   0.014
2018-01-08 31329.000 31459.000 31155.000 31413.000 7375511.000   0.007

In [ ]:
df1.shape
new_df2.shape

(202, 6)

(202, 6)

In [ ]:
# fill na 함수 + forward fill
new_df2.fillna(method="ffill")  # 바로 전날 데이터를 땡겨와라. ( 이정도는 무시하자.  )

                Open      High       Low     Close       Volume  Change
Date
2018-01-02 30877.000 30968.000 30780.000 30898.000  4611286.000   0.004
2018-01-03 30877.000 30968.000 30780.000 30898.000  4611286.000   0.004
2018-01-04 31206.000 31221.000 30775.000 30785.000  8194471.000  -0.008
2018-01-05 30864.000 31197.000 30864.000 31203.000  7465878.000   0.014
2018-01-08 31329.000 31459.000 31155.000 31413.000  7375511.000   0.007
...              ...       ...       ...       ...          ...     ...
2018-10-24 26261.000 26283.000 25946.000 25993.000 11305852.000  -0.005
2018-10-25 25451.000 25589.000 25206.000 25578.000 10915732.000  -0.016
2018-10-26 25604.000 25609.000 24945.000 25173.000  7692140.000  -0.016
2018-10-29 25259.000 25427.000 24921.000 24968.000  4954632.000  -0.008
2018-10-30 24935.000 25366.000 24845.000 25141.000  7509784.000   0.007

[202 rows x 6 columns]